.heading_style {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}
.rectangle {
  width: 100px;
  height: 50px;
  background-color: red;
  margin-left: 50px;
  padding-right: 100px;
}